<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{{.Site.BaseURL}}/images/favicon.png"
      type="image/png"
      sizes="16x16"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{.Site.BaseURL}}/styles/list.css"
    />
    <title>Blogs on {{.Title}}</title>
  </head>
  <body>
    <a href="{{.Site.BaseURL}}"
      ><img class="backToHomepage" src="{{.Site.BaseURL}}/images/home.svg"
    /></a>
    <div>
      <div class="header"><span>Blogs on {{.Title}}</span></div>
      <div class="flex flex-center">
        {{range .Pages}}<br />
        <a href="{{.RelPermalink}}"
          ><div class="blog">
            <div class="title">{{.Title}}</div>
            <div class="content">{{ truncate 100 .Content}}</div>
            <div class="flex">
              <div class="info">
                <img src="{{.Site.BaseURL}}/images/calender.svg" /><span
                  >{{ dateFormat "Monday, Jan 2, 2006" .Date}}</span
                >
              </div>
              <div class="info">
                <img src="{{.Site.BaseURL}}/images/user.svg" /><span
                  >{{.Params.Author}}</span
                >
              </div>
            </div>
          </div>
        </a>
        {{end}}
      </div>
    </div>
  </body>
</html>
